.main-title{
  padding: 15px 0;

  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.main-subtitle{
  max-width: 908px;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}