.container {
  position: static;
  padding: 0;

}
.site-header {
  width: 100%;
  position: relative;

  padding: 7px 15px;
  z-index: 10;
  .logo {
    float: left;
   // width: 131px;
    //height: 57px;
    overflow: hidden;
  }
  .main-nav {
    float: right;
    .nav-btn {
      background: transparent;
      margin: 20px 15px;
      border: none;
      font-size: 25px;
      color: #000;
      transition: 0.3s all ease-out;
      z-index: 10;
      &:hover {
        color: red;
      }
      &:focus {
        outline: none;
      }
    }
    .remove-btn {
      display: none;
    }
    .navigation {
      display: none;
      position: absolute;
      width: 100%;
      height: 100vh;
      text-align: center;
      background-color: rgba(0,0,0,0.8);
      top: 0;
      left: 0;
      padding: 20vh 0 0;
      z-index: -1;
      li.current-menu-item a {
        text-decoration: underline;
        color: red;
      }
      li {
        margin: 5vh 0;
      }
      a {
        font: 700 16px lato;
        color: #000;
        transition: 0.3s all ease-out;
        &:hover {
          color: red;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container{
  }
  .site-header {
    .main-nav {
      .nav-btn {
        display: none;
      }
      .navigation {
        display: flex !important;
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        top: auto;
        left: auto;
        padding: 25px 0;
        z-index: 1;
        li {
          margin: 0;
          padding: 0 18px;
          &:last-child {
            padding-right: 0;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .site-header {
    .main-nav {
      .navigation {
        li {
          padding: 0 30px;
        }
      }
    }
  }
}